@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.skeleton {
    background-color: rgba(240, 240, 240, 1);
    background-image: linear-gradient(90deg,
            rgba(240, 240, 240, 1),
            rgba(240, 240, 240, 1),
            rgba(255, 255, 255, 1),
            rgba(240, 240, 240, 1),
            rgba(240, 240, 240, 1));
    background-size: $desctop200px 100%;
    background-repeat: no-repeat;
    border-radius: $desctop2px;
    display: inline-block;
    line-height: 1;
    width: 100%;
    animation: skeleton 500ms ease-in-out infinite;

    @keyframes skeleton {
        0% {
            background-position: -13.9vw 0;
        }

        100% {
            background-position: calc(13.9vw + 100%) 0;
        }
    }
}
