@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.priceScreen {
    display: flex;
    padding: 6vw $desctop135px $desctop50px;
    background-color: rgba(247, 248, 248, 0.45);

    &__row {
        display: flex;

        &:not(:last-child) {
            margin-bottom: $desctop30px;
        }
    }
}

.card {
    display: flex;
    align-items: center;
    margin-right: $desctop30px;

    &:first-child {
        width: 22vw;

        .card__content {
            max-width: 19vw;
        }
    }

    &:nth-child(2) {
        width: 14vw;

        .card__content {
            max-width: 11vw;
        }
    }

    &:nth-child(3) {
        width: 11vw;

        .card__content {
            max-width: 11vw;
        }

    }

    &__icon {
        width: $desctop40px;
        height: $desctop40px;
        margin-right: $desctop11px;
    }

    &__wrapper {
        width: 100%;
    }

    &__title {
        font-family: $Rounded500;
        font-size: $desctop10px;
        line-height: $desctop10px;
        letter-spacing: $desctop1px;
        text-transform: uppercase;
        color: $fuchsiaBlueColor;
        margin-bottom: $desctop4px;
    }

    &__content {
        font-family: $Rounded500;
        font-size: $desctop16px;
        color: $fuchsiaBlueColor;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            color: $fuchsiaBlueColor;

            .card__content_price {
                color: $fuchsiaBlueColor;
            }
        }

        &_small {
            font-size: $desctop12px;
        }
    }
}

.highchartsReact {
    display: flex;
    position: relative;

    & > div {
        overflow: visible !important;
        width: 28vw;
    }

    &__title {
        font-family: $Rounded500;
        font-size: $desctop12px;
        line-height: $desctop24px;
        color: $blackColor;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -3vw;
        white-space: nowrap;
    }

    &__subTitle {
        font-family: $Rounded500;
        font-size: $desctop10px;
        letter-spacing: $desctop1px;
        color: $fuchsiaBlueColor;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -3vw;

        &:hover {
            color: $fuchsiaBlueColor;
            opacity: 0.5;
        }

        svg {
            width: $desctop6px;
            height: $desctop6px;
            margin-right: $desctop4px;

            path {
                fill: $fuchsiaBlueColor;
            }
        }
    }
}
