@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: $fuchsiaBlueColor;
}

.form {
    width: 25.28vw;
    margin: $desctop60px 0;

    @media only screen and (max-width: 499px) {
        width: 100%;
        margin: $mobile42px $mobile25px;
    }

    &__title {
        font-family: $Rounded500;
        color: $whiteColor;
        margin-bottom: $desctop18px;
        font-size: $desctop24px;
        line-height: $desctop34px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile24px;
            line-height: $mobile34px;
            margin-bottom: $mobile30px;
        }
    }

    &__inputContainer {
        margin-top: $desctop30px;
        position: relative;

        @media only screen and (max-width: 499px) {
            margin-top: $mobile30px;
        }

        &_icon {
            width: $desctop26px;
            height: $desctop26px;

            @media only screen and (max-width: 499px) {
                width: $mobile26px;
                height: $mobile26px;
            }
        }

        &_iconError {
            filter: drop-shadow(0px 4px 4px rgba(250, 72, 104, 0.45));
            path {
                fill: $fuchsiaBlueColor;
            }
        }
    }

    &__error {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: -1.4vw;

        @media only screen and (max-width: 499px) {
            bottom: -5.3vw;
        }

        &_icon {
            width: $desctop16px;
            height: $desctop16px;
            margin-right: $desctop10px;

            @media only screen and (max-width: 499px) {
                width: $mobile16px;
                height: $mobile16px;
                margin-right: $mobile7px;
            }

            path {
                fill:$fuchsiaBlueColor;
            }
        }

        &_text {
            font-family: $Rounded500;
            font-size: $desctop13px;
            color: $whiteColor;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
            }
        }
    }

    &__button {
        @include filledButton;
        text-transform: uppercase;
        width: 100%;
        height: $desctop45px;
        font-family: $Rounded900;
        font-size: $desctop12px;
        margin-top: $desctop30px;

        @media only screen and (max-width: 499px) {
            height: $mobile44px;
            font-size: $mobile12px;
            margin-top: $mobile30px;
        }
    }
}

.signIn {
    display: flex;
    font-family: $Rounded500;
    font-size: $desctop12px;
    letter-spacing: $desctop1px;
    text-transform: uppercase;
    color: $whiteColor;
    width: fit-content;
    margin: $desctop13px auto 0;

    &:hover {
        color: $fuchsiaBlueColor;
    }

    @media only screen and (max-width: 499px) {
        margin-top: $mobile12px;
        font-size: $mobile12px;
        line-height: $mobile16px;
        letter-spacing: $mobile1px;
    }
}
