@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.block {
    background: $whiteColor;
    padding: $desctop45px 6vw $desctop15px $desctop135px;
    flex: 1;

    @media only screen and (max-width: 499px) {
        padding: $mobile20px;
    }

    &__title {
        font-family: $Rounded900;
        font-size: $desctop24px;
        line-height: $desctop24px;
        color: $fuchsiaBlueColor;
        margin-bottom: $desctop19px;

        @media only screen and (max-width: 499px) {
            white-space: nowrap;
            font-size: 6vw;
            line-height: 6vw;
            margin-bottom: $mobile30px;
        }
    }

    &__topWrapper {
        display: flex;
        align-items: center;
        margin-bottom: $desctop5px;

        @media only screen and (max-width: 499px) {
            margin-bottom: $mobile10px;
        }
    }

    &__top {
        padding: $desctop20px;
        background: $whiteColor;
        box-shadow: 0px $desctop2px $desctop6px rgba(0, 0, 0, 0.07);
        border-radius: $desctop8px;
        margin-bottom: $desctop15px;

        @media only screen and (max-width: 499px) {
            padding: $mobile20px;
            box-shadow: 0px $mobile2px $mobile6px rgba(0, 0, 0, 0.07);
            border-radius: $mobile10px;
            margin-bottom: $mobile20px;
        }

        &_address {
            font-family: $Rounded700;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $fuchsiaBlueColor;
            display: flex;

            @media only screen and (max-width: 499px) {
                margin: 0 auto;
                font-size: $mobile13px;
                line-height: $mobile19px;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
            }
        }

        &_wrapper {
            display: flex;

            @media only screen and (max-width: 499px) {
                flex-wrap: wrap;
            }
        }

        &_date {
            font-family: $Rounded500;
            font-size: $desctop12px;
            line-height: $desctop17px;
            color: $fuchsiaBlueColor;
            margin-right: $desctop20px;

            @media only screen and (max-width: 499px) {
                font-size: $mobile12px;
                line-height: $mobile17px;
                margin-right: 0;
                width: 100%;
                margin-bottom: $mobile5px;
            }
        }

        &_transactions {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $fuchsiaBlueColor;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
            }

            span {
                background: rgba(119, 131, 143, 0.1);
                border-radius: $desctop4px;
                padding: $desctop2px $desctop6px;
                margin-left: $desctop5px;
                font-family: $Rounded500;
                font-size: $desctop10px;
                line-height: $desctop17px;
                letter-spacing: $desctop1px;
                color: $fuchsiaBlueColor;

                @media only screen and (max-width: 499px) {
                    border-radius: $mobile5px;
                    padding: $mobile2px $mobile6px;
                    margin-left: $mobile5px;
                    font-size: $mobile10px;
                    line-height: $mobile17px;
                    letter-spacing: $mobile1px;
                }
            }
        }

        &_arrowLeft,
        &_arrowRight {
            display: flex;
            align-items: center;

            .arrowDisabled {
                svg {
                    cursor: default;
                }
            }

            &:hover {
                svg {
                    opacity: 0.3;
                }
            }

            svg {
                cursor: pointer;
                width: $desctop11px;
                height: $desctop11px;

                @media only screen and (max-width: 499px) {
                    width: $mobile12px;
                    height: $mobile12px;
                }
            }
        }

        &_arrowLeft {
            padding-right: $desctop10px;

            @media only screen and (max-width: 499px) {
                padding-right: $mobile10px;
            }
        }

        &_arrowRight {
            padding-left: $desctop10px;

            @media only screen and (max-width: 499px) {
                padding-left: $mobile10px;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        margin: $desctop30px 0;

        @media only screen and (max-width: 499px) {
            flex-direction: column;
            margin: $mobile15px 0;
        }

        &_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 17vw;
            padding: $desctop20px;
            background: $whiteColor;
            box-shadow: 0px $desctop2px $desctop6px rgba(0, 0, 0, 0.07);
            border-radius: $desctop8px;

            @media only screen and (max-width: 499px) {
                width: 100%;
                padding: $mobile20px;
                box-shadow: 0px $mobile2px $mobile6px rgba(0, 0, 0, 0.07);
                border-radius: $mobile10px;
                margin-bottom: $mobile20px;
            }
        }

        &_label,
        &_value {
            text-align: center;
        }

        &_label {
            font-family: $Rounded900;
            font-size: $desctop14px;
            line-height: $desctop19px;
            color: #313162;
            margin-bottom: $desctop10px;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
            }
        }

        &_value {
            font-family: $Rounded500;
            font-size: $desctop14px;
            line-height: $desctop19px;
            color: $fuchsiaBlueColor;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
            }
        }

        &_icon {
            width: $desctop20px;
            height: $desctop20px;
            margin-bottom: $desctop10px;

            @media only screen and (max-width: 499px) {
                width: $mobile20px;
                height: $mobile20px;
                margin-bottom: $mobile10px;
            }
        }
    }
}

.transaction {
    padding: 0 $desctop3px;

    &__row {
        padding: $desctop20px;
        background: $whiteColor;
        box-shadow: 0px $desctop2px $desctop6px rgba(0, 0, 0, 0.07);
        border-radius: $desctop8px;
        margin-bottom: $desctop30px;
        display: flex;

        @media only screen and (max-width: 499px) {
            padding: $mobile20px;
            box-shadow: 0px $mobile2px $mobile6px rgba(0, 0, 0, 0.07);
            border-radius: $mobile10px;
            margin-bottom: $mobile15px;
            flex-wrap: wrap;
        }

        &:not(:last-child) {
            margin-bottom: $desctop15px;
        }

        @media only screen and (max-width: 499px) {
            &:not(:last-child) {
                margin-bottom: $mobile15px;
            }
        }
    }

    &__item {
        &_label {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $blackColor;
            margin-bottom: $desctop5px;
            height: $desctop20px;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile13px;
                margin-bottom: $mobile5px;
                height: $mobile12px;
            }
        }

        &_hash,
        &_valueOut,
        &_fromAmount,
        &_toAmount,
        &_fee {
            &:not(:last-child) {
                margin-right: $desctop20px;
            }

            @media only screen and (max-width: 499px) {
                &:not(:last-child) {
                    margin-right: $mobile20px;
                }
            }

            a,
            span {
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-family: $Rounded500;
                font-size: $desctop13px;
                line-height: $desctop19px;

                @media only screen and (max-width: 499px) {
                    font-size: $mobile13px;
                    line-height: $mobile19px;
                    width: 100% !important;
                }
            }

            a {
                color: $fuchsiaBlueColor;

                &:hover {
                    color: rgba(255, 48, 21, 0.5);
                }
            }

            span {
                color: $fuchsiaBlueColor;
            }
        }

        &_hash {
            min-width: 11vw;

            @media only screen and (max-width: 499px) {
                width: 45%;
                margin-bottom: $mobile15px;
            }

            a,
            span {
                width: 11vw;
            }
        }

        &_valueOut {
            min-width: 8vw;

            @media only screen and (max-width: 499px) {
                width: 45%;
                margin-right: 0 !important;
                margin-bottom: $mobile15px;
            }

            a,
            span {
                width: 8vw;
            }
        }

        &_fromAmount,
        &_toAmount {
            min-width: 24vw;

            @media only screen and (max-width: 499px) {
                width: 45%;
            }

            span,
            a {
                width: 24vw;
            }
        }

        &_toAmount {
            @media only screen and (max-width: 499px) {
                margin-right: 0 !important;
            }
        }

        &_fee {
            min-width: 11vw;
            @media only screen and (max-width: 499px) {
                margin-top: $mobile15px;
            }

            span {
                width: 11vw;
            }
        }
    }
}

.rawBlock {
    margin: 0 $desctop3px;
    padding: $desctop20px;
    background: $whiteColor;
    box-shadow: 0px $desctop2px $desctop6px rgba(0, 0, 0, 0.07);
    border-radius: $desctop8px;
    margin-bottom: $desctop30px;

    @media only screen and (max-width: 499px) {
        padding: $mobile20px;
        box-shadow: 0px $mobile2px $mobile6px rgba(0, 0, 0, 0.07);
        border-radius: $mobile10px;
        margin-bottom: $mobile15px;
    }

    &__wrapper {
        border: $desctop1px solid rgba(36, 36, 68, 0.1);
        border-radius: $desctop17px;
        padding: $desctop15px $desctop19px;

        @media only screen and (max-width: 499px) {
            border: $mobile1px solid rgba(36, 36, 68, 0.1);
            border-radius: $mobile17px;
            padding: $mobile15px $mobile19px;
        }

        pre {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $fuchsiaBlueColor;

            &::-webkit-scrollbar {
                display: none;
            }

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
            }
        }
    }
}

.notFoundIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: $desctop30px 0;
    min-height: 70vh;

    @media only screen and (max-width: 499px) {
        margin: $mobile30px 0;
    }

    img {
        width: 17.5vw;
        height: 16vw;
        margin-bottom: $desctop20px;

        @media only screen and (max-width: 499px) {
            width: 60vw;
            height: 52vw;
            margin-bottom: $mobile20px;
        }
    }

    &__title {
        font-family: $Rounded900;
        font-size: $desctop24px;
        line-height: $desctop24px;
        color: $blackColor;
        margin-bottom: $desctop17px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile16px;
            line-height: $mobile24px;
            margin-bottom: 0;
            text-align: center;
        }
    }
}

.arrowDisabled {
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
}
