@font-face {
    font-family: 'Rounded100';
    src: url('../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Thin.ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded300';
    src: url('../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded400';
    src: url('../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Rounded500';
    src: url('../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded700';
    src: url('../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded800';
    src: url('../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded900';
    src: url('../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Black.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
