@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.block {
    background: $whiteColor;
    padding: $desctop45px 6vw $desctop15px $desctop135px;
    flex: 1;

    @media only screen and (max-width: 499px) {
        padding: $mobile20px;
    }

    &__title {
        font-family: $Rounded900;
        font-size: $desctop24px;
        line-height: $desctop24px;
        color: $fuchsiaBlueColor;
        margin-bottom: $desctop19px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile24px;
            line-height: $mobile24px;
            margin-bottom: $mobile15px;
        }
    }

    &__subTitle {
        font-family: $Rounded500;
        font-size: $desctop13px;
        line-height: $desctop19px;
        color: $fuchsiaBlueColor;
        margin-bottom: $desctop28px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile13px;
            line-height: $mobile19px;
            margin-bottom: $mobile20px;
        }

        a {
            color: $fuchsiaBlueColor;

            &:hover {
                color: $fuchsiaBlueColor;
                text-decoration: underline;
            }
        }
    }
}

.totalOutput,
.privateNote,
.rawBlock,
.transBlock,
.inputs,
.logs {
    padding: $desctop20px;
    background: $whiteColor;
    box-shadow: 0px $desctop2px $desctop6px rgba(0, 0, 0, 0.07);
    border-radius: $desctop8px;
    margin: 0 $desctop3px $desctop15px;

    @media only screen and (max-width: 499px) {
        padding: $mobile20px;
        box-shadow: 0px $mobile2px $mobile6px rgba(0, 0, 0, 0.07);
        border-radius: $mobile10px;
        margin-bottom: $mobile15px;
    }
}

.totalOutput {
    &__top {
        display: flex;
        align-items: center;
        font-family: $Rounded500;
        font-size: $desctop13px;
        line-height: $desctop19px;
        color: $fuchsiaBlueColor;

        @media only screen and (max-width: 499px) {
            flex-wrap: wrap;
            font-size: $mobile12px;
            line-height: $mobile18px;
        }

        &_amount {
            font-size: $desctop24px;
            line-height: $desctop34px;
            margin: 0 $desctop10px;

            @media only screen and (max-width: 499px) {
                font-size: $mobile24px;
                line-height: $mobile34px;
                margin: 0;
            }
        }

        &_icon {
            width: $desctop16px;
            height: $desctop16px;
            margin: 0 $desctop5px;

            @media only screen and (max-width: 499px) {
                width: $mobile16px;
                height: $mobile16px;
                margin: 0 $mobile5px 0 $mobile10px;
            }
        }

        &_success {
            color: $fuchsiaBlueColor;
        }

        &_totalOutput {
            @media only screen and (max-width: 499px) {
                width: 100%;
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        margin-top: $desctop10px;
        font-family: $Rounded500;
        font-size: $desctop10px;
        line-height: $desctop16px;
        color: $fuchsiaBlueColor;

        @media only screen and (max-width: 499px) {
            flex-wrap: wrap;
            margin-top: $mobile10px;
            font-size: $mobile10px;
            line-height: $mobile16px;
        }

        span {
            margin-right: $desctop16px;

            @media only screen and (max-width: 499px) {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}

.transBlock {

    &__hash,
    &__block,
    &__timestamp,
    &__from {
        display: flex;
        align-items: center;
        margin-bottom: $desctop25px;

        @media only screen and (max-width: 499px) {
            margin-bottom: $mobile20px;
            flex-wrap: wrap;
        }
    }

    &__interacted {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 499px) {
            flex-wrap: wrap;
        }
    }

    &__label,
    &__hash {
        font-family: $Rounded500;
        font-size: $desctop13px;
        line-height: $desctop19px;
        color: $fuchsiaBlueColor;

        @media only screen and (max-width: 499px) {
            font-size: $mobile13px;
            line-height: $mobile19px;
        }
    }

    &__label {
        min-width: 14.1vw;
        margin-right: $desctop50px;

        @media only screen and (max-width: 499px) {
            width: 100%;
            margin: 0 0 $mobile5px 0;
        }
    }

    &__hashWrapper {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 499px) {
            width: 100%;
            justify-content: space-between;
        }

        p {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $fuchsiaBlueColor;

            @media only screen and (max-width: 499px) {
                max-width: 72vw;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: $mobile13px;
                line-height: $mobile19px;
            }
        }
    }

    &__from {
        &_successIcon {
            width: $desctop14px;
            height: $desctop14px;
            margin: 0 $desctop5px 0 0;

            @media only screen and (max-width: 499px) {
                width: $mobile14px;
                height: $mobile14px;
                margin: 0 0 0 $mobile15px;
            }
        }
    }

    &__fromWrapper {
        display: flex;
        align-items: center;

        p,a {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $fuchsiaBlueColor;
            max-width: 25.7vw;
            overflow: hidden;
            text-overflow: ellipsis;

            @media only screen and (max-width: 499px) {
                max-width: 64vw;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: $mobile13px;
                line-height: $mobile19px;
            }
        }
    }

    &__interactedWr {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 499px) {
            flex-wrap: wrap;
        }

        &_contract,
        &_redBoxDapp {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $fuchsiaBlueColor;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
            }
        }

        &_contract {
            margin-right: $desctop5px;

            @media only screen and (max-width: 499px) {
                margin-right: $mobile5px;
                display: none;
            }
        }

        p {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $fuchsiaBlueColor;
            max-width: 21.2vw;
            overflow: hidden;
            text-overflow: ellipsis;

            @media only screen and (max-width: 499px) {
                max-width: 71.5vw;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: $mobile13px;
                line-height: $mobile19px;
            }
        }
    }

    &__copy {
        box-sizing: content-box;
        display: flex;

        svg {
            padding: 0 $desctop10px;
            cursor: pointer;
            width: $desctop12px;
            height: $desctop12px;

            @media only screen and (max-width: 499px) {
                padding: 0 0 0 $mobile10px;
                width: $mobile12px;
                height: $mobile12px;
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__block {
        &_blockNumber {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $fuchsiaBlueColor;
            margin-right: $desctop5px;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
                margin-right: $mobile5px;
            }

            &:hover {
                color: $fuchsiaBlueColor;
                text-decoration: underline;
            }
        }

        &_confirmations {
            background: rgba(119, 131, 143, 0.1);
            border-radius: $desctop4px;
            padding: $desctop2px $desctop6px;
            margin-left: $desctop5px;
            font-family: $Rounded500;
            font-size: $desctop10px;
            line-height: $desctop17px;
            letter-spacing: $desctop1px;
            color: $fuchsiaBlueColor;

            @media only screen and (max-width: 499px) {
                border-radius: $mobile5px;
                padding: $mobile2px $mobile6px;
                margin-left: $mobile5px;
                font-size: $mobile10px;
                line-height: $mobile17px;
                letter-spacing: $mobile1px;
            }
        }
    }

    &__timestampWrapper {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 499px) {
            flex-wrap: wrap;
        }

        &_left,
        &_right {
            display: flex;
            align-items: center;
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
                width: 100%;
            }

            svg {
                width: $desctop14px;
                height: $desctop14px;
                min-width: $desctop14px;

                @media only screen and (max-width: 499px) {
                    width: $mobile14px;
                    height: $mobile14px;
                    min-width: $mobile14px;
                }
            }
        }

        &_left {
            color: $fuchsiaBlueColor;
            margin-right: 7.5vw;
            width: 18.7vw;
            white-space: nowrap;

            @media only screen and (max-width: 499px) {
                margin: 0 0 $mobile10px 0;
                width: 100%;
            }

            svg {
                margin-right: $desctop5px;

                @media only screen and (max-width: 499px) {
                    margin-right: $mobile5px;
                }
            }
        }

        &_right {
            color: $fuchsiaBlueColor;

            svg {
                margin-right: $desctop8px;

                @media only screen and (max-width: 499px) {
                    margin-right: $mobile5px;
                }

                path {
                    fill: $fuchsiaBlueColor;
                }
            }
        }
    }
}

.inputs {
    &__title {
        font-family: $Rounded500;
        font-size: $desctop14px;
        line-height: $desctop20px;
        color: $blackColor;
        margin-bottom: $desctop10px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile14px;
            line-height: $mobile20px;
            margin-bottom: $mobile10px;
        }
    }

    &__wrapper {
        display: flex;
        margin-bottom: $desctop20px;

        @media only screen and (max-width: 499px) {
            margin-bottom: $mobile20px;
        }
    }

    &__label {
        font-family: $Rounded500;
        font-size: $desctop13px;
        line-height: $desctop19px;
        color: $fuchsiaBlueColor;
        margin-bottom: $desctop10px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile13px;
            line-height: $mobile19px;
            margin-bottom: $mobile10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__indexItem,
    &__outputItem,
    &__addressItem {
        margin-right: $desctop20px;

        @media only screen and (max-width: 499px) {
            margin-right: 3vw;
        }
    }

    &__indexItem {
        min-width: $desctop55px;

        @media only screen and (max-width: 499px) {
            min-width: 11vw;
        }
    }

    &__outputItem {
        min-width: 11vw;

        @media only screen and (max-width: 499px) {
            min-width: 16.5vw;
        }

        &_output {
            color: $fuchsiaBlueColor;
            max-width: 11vw;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            font-size: $desctop13px;
            line-height: $desctop19px;

            @media only screen and (max-width: 499px) {
                max-width: 16.5vw;
                font-size: $mobile13px;
                line-height: $mobile19px;
            }

            &:hover {
                color: $fuchsiaBlueColor;
                opacity: 0.5;
            }
        }

        &_block {
            color: $fuchsiaBlueColor;
            font-size: $desctop13px;
            line-height: $desctop19px;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
            }

            &:hover {
                color: $fuchsiaBlueColor;
                opacity: 0.5;
            }
        }
    }

    &__black,
    &__gray {
        font-family: $Rounded500;
        font-size: $desctop13px;
        line-height: $desctop19px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile13px;
            line-height: $mobile19px;
        }
    }

    &__black {
        color: $fuchsiaBlueColor;

        @media only screen and (max-width: 499px) {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__gray {
        color: $fuchsiaBlueColor;
    }

    &__addressItem {
        width: 25vw;

        @media only screen and (max-width: 499px) {
            max-width: 17vw;
        }

        &_address {
            color: $fuchsiaBlueColor;
            max-width: 25vw;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            font-size: $desctop13px;
            line-height: $desctop19px;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
            }

            &:hover {
                color: $fuchsiaBlueColor;
                opacity: 0.5;
            }
        }
    }
}

.privateNote {
    font-family: $Rounded500;
    font-size: $desctop13px;
    line-height: $desctop19px;
    color: $fuchsiaBlueColor;

    @media only screen and (max-width: 499px) {
        font-size: $mobile12px;
        line-height: $mobile18px;
    }

    a {
        color: $fuchsiaBlueColor;

        &:hover {
            color: $fuchsiaBlueColor;
            text-decoration: underline;
        }
    }
}

.rawBlock {
    &__wrapper {
        border: $desctop1px solid rgba(36, 36, 68, 0.1);
        border-radius: $desctop17px;
        padding: $desctop15px $desctop19px;

        @media only screen and (max-width: 499px) {
            border: $mobile1px solid rgba(36, 36, 68, 0.1);
            border-radius: $mobile17px;
            padding: $mobile15px $mobile19px;
        }

        pre {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $fuchsiaBlueColor;

            &::-webkit-scrollbar {
                display: none;
            }

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
            }
        }
    }
}

.logs {
    &__title {
        font-family: $Rounded500;
        font-size: $desctop13px;
        line-height: $desctop19px;
        color: $fuchsiaBlueColor;

        @media only screen and (max-width: 499px) {
            font-size: $mobile13px;
            line-height: $mobile18px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: $desctop15px;

        @media only screen and (max-width: 499px) {
            margin-bottom: $mobile15px;
        }
    }

    &__wrapper {
        display: flex;

        &_item {
            display: flex;

            &:not(:last-child) {
                margin-bottom: $desctop16px;

                @media only screen and (max-width: 499px) {
                    margin-bottom: $mobile16px;
                }
            }
        }

        &_label {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $fuchsiaBlueColor;
            margin-right: $desctop32px;
            min-width: 4vw;

            @media only screen and (max-width: 499px) {
                font-size: $mobile12px;
                line-height: $mobile18px;
                margin-right: $mobile20px;
                min-width: 13vw;
            }
        }
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $desctop40px;
        height: $desctop40px;
        background: rgba(255, 41, 17, 0.15);
        border-radius: $desctop50px;
        margin-right: $desctop40px;

        @media only screen and (max-width: 499px) {
            display: none;
            width: $mobile42px;
            height: $mobile42px;
            border-radius: $mobile50px;
            margin: 0 0 0 $mobile17px;
        }

        span {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $fuchsiaBlueColor;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
            }
        }

        &_mobile {
            display: none;

            @media only screen and (max-width: 499px) {
                display: flex;
            }
        }
    }

    &__red,
    &__green,
    &__link,
    &__black,
    &__dec {
        font-family: $Rounded500;
        font-size: $desctop13px;
        line-height: $desctop19px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile13px;
            line-height: $mobile18px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            max-width: 43vw;
        }
    }

    &__red {
        color: $fuchsiaBlueColor;
    }

    &__black {
        color: $fuchsiaBlueColor;
    }

    &__dec {
        color: $fuchsiaBlueColor;
        margin-right: $desctop8px;

        @media only screen and (max-width: 499px) {
            margin-right: $mobile7px;
        }
    }

    &__link {
        color: $fuchsiaBlueColor;

        &:hover {
            color: $fuchsiaBlueColor;
            text-decoration: underline;
        }
    }

    &__green {
        color: $fuchsiaBlueColor;
    }

    &__index {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: $desctop22px;
        height: $desctop22px;
        background: $fuchsiaBlueColor;
        border-radius: 50%;
        font-family: $Rounded400;
        font-size: $desctop10px;
        color: $fuchsiaBlueColor;
        margin-right: $desctop8px;

        @media only screen and (max-width: 499px) {
            width: $mobile21px;
            height: $mobile21px;
            font-size: $mobile10px;
            margin-right: $mobile7px;
        }
    }

    &__topicItem {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: $desctop8px;

            @media only screen and (max-width: 499px) {
                margin-bottom: $mobile7px;
            }
        }
    }

    &__data {
        width: 100%;
        border: $desctop1px solid rgba(36, 36, 68, 0.1);
        border-radius: $desctop17px;
        padding: $desctop20px;

        @media only screen and (max-width: 499px) {
            border: $mobile1px solid rgba(36, 36, 68, 0.1);
            border-radius: $mobile17px;
            padding: $mobile20px;
        }

        &_tokens {
            font-family: $Rounded400;
            font-size: $desctop13px;
            color: $fuchsiaBlueColor;
            margin-right: $desctop5px;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                margin-right: $mobile5px;
            }
        }
    }
}

.state {
    &__item {
        display: flex;
        padding: $desctop20px;
        background: $whiteColor;
        box-shadow: 0px $desctop2px $desctop6px rgba(0, 0, 0, 0.07);
        border-radius: $desctop8px;
        margin-bottom: $desctop15px;

        @media only screen and (max-width: 499px) {
            flex-wrap: wrap;
            padding: $mobile20px;
            box-shadow: 0px $mobile2px $mobile6px rgba(0, 0, 0, 0.07);
            border-radius: $mobile10px;
            margin-bottom: $mobile15px;
        }

        &:not(:last-child) {
            margin-bottom: $desctop15px;

            @media only screen and (max-width: 499px) {
                margin-bottom: $mobile15px;
            }
        }
    }

    &__label {
        font-family: $Rounded500;
        font-size: $desctop13px;
        line-height: $desctop19px;
        color: $fuchsiaBlueColor;
        margin-bottom: $desctop10px;
        height: $desctop19px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile13px;
            line-height: $mobile19px;
            margin-bottom: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: initial;
        }
    }

    &__addressItem,
    &__beforeItem,
    &__afterItem,
    &__stateItem {
        @media only screen and (max-width: 499px) {
            width: 100%;
            max-width: 100%;
        }
    }

    &__addressItem,
    &__beforeItem,
    &__afterItem {
        margin-right: $desctop25px;

        @media only screen and (max-width: 499px) {
            margin: 0 0 $mobile18px 0;
        }
    }

    &__addressItem {
        min-width: 27vw;

        &_value {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $blackColor;
            max-width: 27vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
                max-width: 100%;
            }
        }
    }

    &__beforeItem {
        min-width: 17.3vw;

        &_value {
            display: block;
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $blackColor;
            max-width: 18vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
                max-width: 100%;
            }
        }

        &_more {
            display: flex;
            align-items: center;
            margin-left: $desctop40px;
            color: $fuchsiaBlueColor;
            cursor: pointer;

            @media only screen and (max-width: 499px) {
                margin-left: $mobile42px;
            }

            &:hover {
                opacity: 0.5;
            }

            svg {
                width: $desctop10px;
                height: $desctop10px;
                margin-left: $desctop4px;

                @media only screen and (max-width: 499px) {
                    width: $mobile10px;
                    height: $mobile10px;
                    margin-left: $mobile5px;
                }
            }
        }
    }

    &__afterItem {
        min-width: 18vw;
    }

    &__stateItem {
        &_value {
            font-family: $Rounded500;
            font-size: $desctop13px;
            line-height: $desctop19px;
            color: $blackColor;
            max-width: 14vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile19px;
                max-width: 100%;
            }
        }
    }

    &__gray {
        font-family: $Rounded500;
        font-size: $desctop10px;
        line-height: $desctop17px;
        letter-spacing: $desctop1px;
        color: $fuchsiaBlueColor;

        @media only screen and (max-width: 499px) {
            font-size: $mobile10px;
            line-height: $mobile17px;
            letter-spacing: $mobile1px;
        }
    }
}

.notFoundIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: $desctop30px 0;
    min-height: 70vh;

    @media only screen and (max-width: 499px) {
        margin: $mobile30px 0;
    }

    img {
        width: 17.5vw;
        height: 16vw;
        margin-bottom: $desctop20px;

        @media only screen and (max-width: 499px) {
            width: 60vw;
            height: 52vw;
            margin-bottom: $mobile20px;
        }
    }

    &__title {
        font-family: $Rounded900;
        font-size: $desctop24px;
        line-height: $desctop24px;
        color: $blackColor;
        margin-bottom: $desctop17px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile16px;
            line-height: $mobile24px;
            margin-bottom: 0;
            text-align: center;
        }
    }
}
