@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.blog {
    padding: $desctop60px $desctop20px;
    position: relative;
    min-height: 100vh;

    @media only screen and (min-width: 500px) and (max-width: 1024px) {
        padding: $tablet40px 0 $tablet80px 0;
        min-height: initial;
    }

    &__title {
        position: relative;
        z-index: 10;
        font-family: $Rounded700;
        color: $blackColor;
        font-size: $desctop36px;
        margin-bottom: $desctop15px;
        text-align: center;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: $tablet26px;
            margin-bottom: $tablet40px;
        }
    }

    &__loadMore {
        font-family: $Rounded700;
        margin: 0 auto;
        display: flex;
        border: $desctop2px solid $blackColor;
        background-color: $blackColor;
        color: $whiteColor;
        padding: $desctop15px $desctop45px;
        border-radius: $desctop20px;
        outline: none;
        cursor: pointer;
        margin-top: $desctop20px;
        transition: all 0.25s;
        width: fit-content;
        font-size: $desctop16px;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            border: $tablet2px solid $blackColor;
            padding: $tablet16px $tablet40px;
            border-radius: $tablet20px;
            margin-top: $tablet20px;
            font-size: $tablet16px;
        }

        a {
            color: $whiteColor;

            &:hover {
                color: $blackColor;
            }
        }

        &:hover {
            background-color: $whiteColor;
            color: $blackColor;
        }
    }
}

.insta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4vw 8vw 0;
    position: relative;
    z-index: 999;

    @media only screen and (min-width: 500px) and (max-width: 1024px) {
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 24vw;
        box-shadow: 0 0 $desctop10px rgba(0,0,0,0.15);
        border-radius: $desctop10px;
        margin-bottom: $desctop50px;
        transition: all 0.4s;
        -webkit-backface-visibility: hidden;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            width: 43vw;
            box-shadow: 0 0 $tablet10px rgba(0,0,0,0.15);
            border-radius: $tablet10px;
            margin-bottom: $tablet50px;
        }

        &:hover {
            transform: scale(1.1);
        }

        &_img {
            width: 100%;
            height: 21vw;
            object-fit: cover;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                height: 40vw;
            }
        }

        &_time {
            padding: $desctop10px;
            font-family: $Rounded500;
            font-size: $desctop13px;
            color: $blackColor;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                padding: $tablet10px;
                font-size: $tablet14px;
            }
        }

        &_caption {
            padding:  0 $desctop10px $desctop20px $desctop10px;
            font-family: $Rounded700;
            font-size: $desctop14px;
            line-height: $desctop20px;
            color: $blackColor;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                padding:  0 $tablet10px $tablet20px $tablet10px;
                font-size: $tablet16px;
                line-height: $tablet20px;
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        padding: $desctop10px;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            padding: $tablet10px;
        }

        &_pic {
            width: $desctop40px;
            height: $desctop40px;
            border-radius: 50%;
            margin-right: $desctop15px;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                width: $tablet40px;
                height: $tablet40px;
                margin-right: $tablet16px;
            }
        }

        &_username {
            font-family: $Rounded700;
            font-size: $desctop16px;
            color: $blackColor;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                font-size: $tablet16px;
            }
        }
    }
}
