@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.boxes {
    padding: $desctop100px $desctop20px $desctop124px;
    position: relative;
    height: 100vh;
    min-height: 60vw;

    &__title {
        font-family: $Rounded700;
        color: $blackColor;
        font-size: $desctop36px;
        margin-bottom: $desctop15px;
        text-align: center;
	}

	&__leftSide {
		width: 50vw;
		margin-left: auto;
	}
}

.card1,
.card2,
.card3,
.card4 {
    position: absolute;
    border-radius: $desctop5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    will-change: transform;
}

.card1 {
    width: 40vw;
    height: 40vw;
    background-image: url('./images/giftbox.svg');
    left: 1vw;
}

.card2 {
    width: 20vw;
    height: 20vw;
    background-image: url('./images/toothpaste.svg');
    left: -2vw;
    top: 31vw;
}

.card3 {
    opacity: 0.9;
    width: 20vw;
    height: 20vw;
    background-image: url('./images/toothbrush.svg');
    left: 42vw;
    top: 25vw;
}

.card4 {
    width: 15vw;
    height: 15vw;
    background-image: url('./images/dental-floss.svg');
    left: 20vw;
    bottom: 12vw;
}

.card5 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    background-image: url('./images/mouthwash.svg');
    bottom: -2vw;
    left: 20vw;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
